.links line {
	/*stroke: #999;*/
	stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #aaa;
  stroke-width: 1px;
}

.facs rect {
	stroke: #aaa;
	stroke-width: 1px;
}

.rvtext {
	font-size: 1em;
}

.factext {
	font-size: 0.7em;
}

#suggestionNotice {
	font-weight: bold;
	visibility: hidden;
}

button.suggestion {
	background-color: lightgray;
	margin: 5px;
	padding: 5px;
	border: none;
	border-radius: 8px;
}

button.suggestion:hover {
	background-color: #159957;
	color: white;
	cursor: pointer;
}

svg {
	border: 1px solid #159957;
}


p.limited {
	color: slategray;
	font-style: italic;
	display: inline-block;
	padding: 4px;
}